@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/open-sans";
@import "@fontsource/open-sans/700.css";

@layer base {
  :root {
    --dark: #33323d;
    --dark-hover: #55545f;
    --highlight: #83ffcd;
    --seafoam: #83ffcd;
    --skyblue: #88d5fe;
  }

  body {
    font-family: 'Open Sans';
    line-height: 1;
    background-color: var(--dark);
  }

  p {
    margin-bottom: 20px;
  }
}